<div class="row try right homeclck center-small">
    <div class ="col  l6 m6 s12">
        <div id="" class="center homeclck">
            <div class="intro collapsible  z-depth-3">
                <p style ="font-size:20px;">MMU BIKE SHARE PROGRAMME</p>
                <p>The MMUBike program is a bike share system in place to encourage physical exercise and provide reliable means of transport at MMU<br> <a class="waves-effect white-text" href="#/hirebike"> <p class="btn" style="font-size:13px">HIRE BIKE</p> </a></p>
            </div>
        </div>
    </div>
        <div class ="col l6 m6 s12" style=" margin-right:0px;">
            <div id=""class="center homeclck ">
                <div class="intro collapsible z-depth-3">
                    <p style="font-size:20px;">MMU BIKE SHARE PROGRAMME TIME SCHEDULE</p>
                    <p> <i class="fa fa-clock-o fa-2x"aria-hidden="true"></i>&nbsp;Operational : Monday - Friday <br><br> (8:00 am - 7:00pm)</p><br>
                </div>
            </div>
        </div>
        <div class="main">
            <h6 style="margin-right:60px"class="center"><b>HOW <span style="color:26A69A">IT</span> WORKS</b></h6>
            <p class="center how-work-par">Its simple to rent, just follow the steps below and enjoy</p><br>
            <ul id="how-works">
                <li><p class="center"> <i style="color:#26A69A" class="fa fa-users fa-4x"aria-hidden="true"></i><br><br></p><p class="center"><b>REGISTER</b></p> <p class="center bod">Register as a member <br>with your details and <br>login to book a bike</p></li>
                <li><p class="center"> <i style="color:#26A69A" class="fa fa-key fa-4x"aria-hidden="true"></i><br><br></p><p class="center"><b>RELEASE</b></p> <p class="center bod"> Present your student card <br>at the station, the bike<br> will be availed to you</p></li>
                <li><p class="center"> <i style="color:#26A69A" class="fa fa-bicycle fa-4x"aria-hidden="true"></i><br><br></p><p class="center"><b>RIDE</b></p> <p class="center bod">Take your bike and enjoy<br> upto the time allocated.<br>Return when done</p></li>
                <li> <p class="center"> <i style="color:#26A69A" class="fa fa-book fa-4x"aria-hidden="true"></i><br><br></p> <p class="center"><b>RETURN</b> </p><p class="center bod">When done, return your bike<br>and gear to the station.A staff<br>member will inspect the bike</p></li>
            </ul>
        </div>
</div>